.carddesign {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .carddesign {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cssforcards {
  margin-top: 10%;
  margin-left: 50px;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
}

@media (max-width: 768px) {
.cssforcards {
  display: block;
}
}